<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gross数据展示</title>
   <link rel="stylesheet" href="/static/css/common.css" th:href="@{/css/common.css}">
   <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}">
   <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
   <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
   <script type="text/javascript" src="/static/js/colResizable-1.3.min.js" th:src="@{/js/colResizable-1.3.min.js}"></script>
   <script type="text/javascript" src="/static/js/common.js" th:src="@{/js/common.js}"></script>
   <script type="text/javascript" th:inline="javascript">
        var local = [[${#httpServletRequest.getContextPath()}]];
   	  //跳转页码  
	  function goPage(pageIndex) {
		  var pageSize=$("#pageNumber").val();// 新的页面大小
		//attr,修改属性
		$("#grossForm").attr("action",local+"/level1/gross/showList/"+pageIndex+"/"+pageSize);
		$("#grossForm").submit();//提交表单,把参数也提交
	  }
	//输入页码跳转指定页 
	function tiaoPage(){
		var number=$("#number").val();// 要跳转的页码
		if (number!="") {
			//正则表达式判断
			var pattern = /^[0-9]*$/;
			var b = pattern.test($.trim(number));
			if(b==true){
				if(number=>1&&number<=[[${pager.pageIndex}]]){
				goPage($.trim(number));
				}
			}
		} else{
			alert("跳转页码不能为空！");
		}
		
	}
	//动态修改页面大小
	function chagePageSize(pageIndex){
		var pageSize=$("#pageNumber").val();// 新的页面大小
		$("#grossForm").attr("action",local+"/level1/gross/showList/"+pageIndex+"/"+pageSize);
		$("#grossForm").submit();//提交表单,把参数也提交
	}
	
	/*全选不全选 */
  	function allbox(){
	  var flag=document.getElementById("allboxs").checked;
      var cks=document.getElementsByName("onebox");
      for(var i=0;i<cks.length;i++){
          cks[i].checked=flag;
      }
	}
  	
  	/*清空搜索框*/
	function clearInfo(){
		if(confirm("是否清空搜索条件？")){
			//获取搜索框对象
			var title = $("[name='title']");
			var startDate = $("[name='startDate']");
			var endDate = $("[name='endDate']");
			//为搜索框置空
			title.val("");
			startDate.val("");
			endDate.val("");
			//跳转查询请求
			window.location.href=local+"/level1/gross/showList/1/10";
		}
		 
	}
  	
	function delall(){
		alert("是否删除?");
		alert([[${#httpServletRequest.getContextPath()}]]);
	}
  	
   </script>
</head>
<body>

     <div id="search_bar" class="mt10">
       <div class="box">
          <div class="box_border">
            <div style="font-size:16px;margin-top: 20px;" align="center"><b>Gross数据展示</b></div>
            
        <form action="gross/showList/1/10" method="post" id="grossForm" th:action="@{/level1/gross/showList/1/10}">    
            <div class="box_center pt10 pb10">
              <table class="form_table" border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
                <tr>
                  <!--<td>标题</td>-->
                  <td>
                  <input type="text" name="title" class="input-text lh25" size="60" placeholder="输入搜索条件(餐厅名称)" th:value="${query.title}"/>
                  </td>                
                  <td>时间</td>
                  <td>
                       <input type="text" name="startDate" class="input-text lh25" size="20" placeholder="开始时间（2019/7/28）" th:value="${query.startDate}"/>
                       	至
                       <input type="text" name="endDate" class="input-text lh25" size="20" placeholder="结束时间（2019/7/28）" th:value="${query.endDate}"/>
                  </td>
                  <td>
                  <input type="submit" name="button" class="btn btn82 btn_search" value="查询">
                  <!-- |javascript:fungetone(${con.uid})| -->
			      <input type="button" name="qingkong" class="btn btn82 btn_recycle" value="清空" th:onclick="|javascript:clearInfo()|"/>
			      <input type="button" name="alldelete" class="btn btn82 btn_del" value="删除" th:onclick="|delall()|"/>
			      </td>
                </tr>
               
              </table>
            </div>
        </form>
             <div  class="box_bottom pb5 pt5 pr10" style="border-top:1px solid #dadada;">
              <div class="search_bar_btn" style="text-align:center;" >
                 <a href="" th:href="@{/level1/uploadExcel}" class="ext_btn"><span class="add"></span>添加数据</a>
                 <a href="" th:href="@{/level1/uploadExcel}" class="ext_btn"><span class="add"></span>导入数据</a>
                 <a href="" th:href="@{/}" class="ext_btn"><span class="add"></span>返回首页</a>
              </div>
            </div>
			</div>  
       </div>
    </div>   


 <div id="table" class="mt10">
        <div class="box span10 oh">
        <form method="post">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
                <tr>
				   <th>
				   <input type="checkbox" id="allboxs" th:onclick="allbox()"/>
				   </th>
                   <th>编号</th>
                   <th>经理</th>
                   <th>督导</th>
                   <th>餐厅编号</th>
                   <th>餐厅名称</th>
                   <th>日期</th>
				   <th>收入类型</th>
				   <th>TC</th>
				    <th>营业额</th>
                   <th>物料成本</th>
                   <th>毛利</th>
                   <th>毛利率</th>
				   <th>上周同比营业额</th>
				   <th>上周同比毛利</th>
				   <th>上周同比毛利率</th>
				   <!--<th>状态</th>-->
				   <th>操作</th>
                 </tr>
                     
					<tr class="tr" align="center" th:each="gross:${pager.records}">
						<td class="td_center"><input type="checkbox" name="onebox" value="${gross.id}"></td>
						<td th:text="${gross.id}"></td>
						<td th:text="${gross.manager}"></td>
						<td th:text="${gross.supervisor}"></td>
						<td th:text="${gross.restaurantNum}"></td>
						<td th:text="${gross.restaurantName}"></td>
						<td th:text="${#dates.format(gross.date,'yyyy-MM-dd')}"></td>
						<td th:text="${gross.incomeType}"></td>
						<td th:text="${gross.tc}"></td>
						<td th:text="${gross.turnover}"></td>
						<td th:text="${gross.materialCost}"></td>
						<td th:text="${gross.grossProfit}"></td>
						<td th:text="${gross.grossRate}"></td>
						<td th:text="${gross.lwturnover}"></td>
						<td th:text="${gross.lwgrossProfit}"></td>
						<td th:text="${gross.lwgrossRate}"></td>
						
						<!--<td id="td_${h.id}">${h.state==1?"启用":"禁用"}</td>-->
						<td>
						<!--<a id="a_${h.id}" href="javascript:chageSate(${h.id});">${h.state==0?"启用":"禁用"}</a> |&nbsp;--> 
						<a href="#">编辑</a>|&nbsp; 
						<!-- <a href="/house/deleteOneHouseInfo?id=${h.id}" onclick="del()">删除</a> -->
						<a href="javascript:void(0)" onclick="del(${gross.id})" th:onclick="|delall()|">删除</a>
						</td>
					</tr>
				
				 
               <tr>
               	<td colspan="6"></td>
			    
				<td colspan="6" align="center">
				     <div class="page mt10">
						<div class="pagination">
						  <ul >
							  <li class="first-child">
							  <a href="javascript:goPage(1);" th:href="|javascript:goPage(1);|">首页</a>
							  </li>
							  <!-- 上一页 -->
							  <li th:if="${pager.pageIndex>1}">
							  <a href="javascript:goPage(${pager.pageIndex-1});" th:href="|javascript:goPage(${pager.pageIndex-1});|">上一页</a>
							  </li>
							
							<!--  展示页数 -->
						    <li th:each="num:${pager.numbers}">
						      <!--   判断是当前页码，文字展示为红色 -->
						      <span style="color: red;" th:if="${num==pager.pageIndex}" th:text="${num}">${num}</span>
						      <!--  判断是不是当前页码，文字展示为灰色 -->
						      <a href="javascript:goPage(${num});" th:if="${num!=pager.pageIndex}"  th:text="${num}" th:href="|javascript:goPage(${num});|">${num}</a>
						    </li>
							  
							  <!-- 下一页 -->
							  <li th:if="${pager.pageIndex<pager.pageCount}">
							  <a href="javascript:goPage(${pager.pageIndex+1});" th:href="|javascript:goPage(${pager.pageIndex+1});|">下一页</a>
							  </li>
							  <!-- 末页 -->
							  <li><a href="javascript:goPage(${pager.pageCount});" th:href="|javascript:goPage(${pager.pageCount});|">末页</a></li>
						      <li><span>共[[${pager.totalCount}]]条数据</span></li>
			     			  <li><span>共[[${pager.pageCount}]]页</span></li>
			     			  <li>
			     			  	<input type="button" name="button" class="btn btn82 btn_del" value="GO" th:onclick="|tiaoPage(${pager.pageCount})|">
				         		<input type="text" name="number" class="input-text lh25" size="4" id="number">
			     			  </li>
			     			  <li>
								每页<select id="pageNumber" th:onchange="|chagePageSize(${pager.pageIndex});|">
									   <option value="5" th:selected="${pager.pageSize eq 5}">5</option>
									   <option value="10" th:selected="${pager.pageSize eq 10}">10</option>
									   <option value="15" th:selected="${pager.pageSize eq 15}">15</option>
									   <option value="20" th:selected="${pager.pageSize eq 20}">20</option>
									   <option value="30" th:selected="${pager.pageSize eq 30}">30</option>
									   <option value="40" th:selected="${pager.pageSize eq 40}">40</option>
									   <option value="50" th:selected="${pager.pageSize eq 50}">50</option>
									   <option value="70" th:selected="${pager.pageSize eq 70}">70</option>
					               </select>
					                                   条
							 </li>
						  </ul>
						
						</div>
                     </div>
				</td>
				<td colspan="6"></td>
			   </tr>
              </table>			  
		      </form>
             
        </div>
     </div>
</body>
</html>