<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>管理系统后台首页</title>
</head>
<body>
<h1 align="center">欢迎光临管理系统</h1>
<div sec:authorize="!isAuthenticated()">
	<h2 align="center">您好还未登陆，如果想查看 <a th:href="@{/userlogin}">请登录</a></h2>
</div>
<div sec:authorize="isAuthenticated()">
	<h2><span sec:authentication="name"></span>，您好,您的角色有权限：
		<span sec:authentication="principal.authorities"></span></h2>
		<span>
			<form th:action="@{/logout}" method="post">
			<input type="submit" value="注销"/>
			</form>
		</span>
</div>

<hr>

<div sec:authorize="hasRole('VIP1')">
	<h3>财务统计</h3>
	<ul>
		<li><a th:href="@{/level1/uploadExcel}">财务统计报表上传</a></li>
		<li><a th:href="@{/level1/gross/showList/1/10}">财务统计报表展示</a></li>
		<li><a th:href="@{/level1/3}">财务统计报表下载</a></li>
	</ul>

</div>

<div sec:authorize="hasRole('VIP2')">
	<h3>区域利润统计</h3>
	<ul>
		<li><a th:href="@{/level2/uploadExcel}">区域利润统计报表上传</a></li>
		<li><a th:href="@{/level2/regionalprofit/showList/1/10}">区域利润统计报表展示</a></li>
		<li><a th:href="@{/level2/3}">区域利润统计报表下载</a></li>
	</ul>

</div>

<div sec:authorize="hasRole('VIP3')">
	<h3>物资统计</h3>
	<ul>
		<li><a th:href="@{/level3/1}">物资统计报表上传</a></li>
		<li><a th:href="@{/level3/2}">物资统计报表展示</a></li>
		<li><a th:href="@{/level3/3}">物资统计报表下载</a></li>
	</ul>
</div>

<div sec:authorize="hasRole('VIP4')">
	<h3>权限管理</h3>
	<ul>
		<li><a th:href="@{/level3/1}">物资统计报表上传</a></li>
		<li><a th:href="@{/level3/2}">物资统计报表展示</a></li>
		<li><a th:href="@{/level3/3}">物资统计报表下载</a></li>
	</ul>
</div>


</body>
</html>